{% extends 'base.html.twig'%}
{% block tilte 'tous nos bien' %}
{% block body %}
<div class="jumbotron">
<div class="container">
{{form_start(form)}}
<div class="form-row">
<div class="col">
{{form_row(form.minSurface)}}
</div>
<div class="col" style="height :200px">
{{form_row(form.maxPrice)}}
</div>
<div class="col">
{{form_row(form.options)}}
</div>
	<button class="btn btn-primary" style="height :47px">Recherche</button>
</div>
{{form_end(form)}}
</div>
</div>
<div class="container mt-4">
<h1 style="margin-bottom:30px">Voire tous nos biens</h1>
<div class="row">
{% for property in properties %}
<div class="col-md-4">
{% include 'property/_property.html.twig' %}
</div>
{% endfor %}
</div>
  <div class="pagination" style="margin-left :280px"> {{ knp_pagination_render(properties) }}
</div>
</div>
{% endblock %} 